{% extends 'base.html' %}
{% block body_block %}
<main>
		<p id="fossLetters">
			<span class="fossL" id="fossF">F</span>
			<span class="fossL" id="fossO">O</span>
			<span class="fossL" id="fossS">S</span>
			<span class="fossL" id="fossZ">S</span>
		</p>
		<div id="colorSelector">
			<input id="cp1" style="width: auto;" type="text" class="form-control input-lg" value=""/>
		</div>
		<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
		<div>
			<form style="display:none;" action="/letter_update/" method="POST" id="letter_update" target="hiddenFrame">
				{% csrf_token %}
	 			<div class="fieldWrapper" id="the_post">
			 		{{ form }}
	 			</div>
	 			<div id="results"></div> <!-- errors go here -->
	 			<input type="submit" value="Post" class="button">
			</form>
		</div>
		<iframe name="hiddenFrame2" width="0" height="0" border="0" style="display: none;"></iframe>
		<form action="/letter_reset/" method="GET" id="letter_reset" target="hiddenFrame2">
			{% csrf_token %}
			<div style="display: none;" class="fieldWrapper" id="the_reset">
			</div>
			<input id="reset_button" type="button" value="Reset to Magic Colors" class="tiny button"/>
		</form>
	</main>
{% endblock %}
